.subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.title-lg {
  font: var(--title-lg);
  color: var(--gray-600);
}

p {
  font: var(--text-sm);
  color: var(--gray-500);
}

.title-sm {
  font: var(--title-sm);
  color: var(--gray-600);
  margin-bottom: 8px;
}

.title-md {
  font: var(--title-md);
  color: var(--gray-600);
}

.tagform {
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  
  border-radius: 999px;
  background-color: var(--gray-300);
  text: var(--text-md);
  height: 40px;

  color: var(--gray-500);
}

.tagform:hover{
  border: solid 1.5px var(--gray-400);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 12px;
  padding: 12px;
  border: 2px solid var(--gray-200);
}

.card:hover{
  border: solid 1.5px var(--gray-400);
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.bg-gray-300 {
  background-color: var(--gray-300);
}

.socialButton {
  display: flex;
  width: 400px;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 20px;

  img:first-child {
    width: 28px;
    height: 28px;
  }

  img:last-child {
    width: 14px;
    height: 14px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.socialButton:hover {
  border: solid 1.5px var(--blue);
  color: blue;
}


.text-md {
  font: var(--text-md);
  color: var(--gray-500);
}